block components
    include ../../components/config
    include ../../components/mixins
    include ../../components/layout/head/head
    include ../../components/layout/header/header
    include ../../components/layout/footer/footer
    include ../../components/ui/back-to-top-fixed/back-to-top-fixed

doctype html
html.no-js(lang="ru")
    head
        +head(head.default)
    body&attributes(page.attrs)
        | %symbols%
        div(data-barba='wrapper', data-barba-namespace=page.id)
            .page-wrapper(data-barba="container")
                block header
                    +Header(header.default)
                block intro
                block projectSwitcher
                main#content.page-content(class={'page-content--inner': page.inner})
                    block content
                block footer
                    +Footer(footer.default)(class={ 'footer--fixed': footer.fixed })
                if scrollTop === undefined
                    +BackToTopFixed
        include ../../components/scripts
