.social-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    margin: 0 0 20px;
    padding: 0;

    @media screen and (max-width: 767px) {
        gap: 15px
    }

    &__item {
        padding: 0;
        margin: 0;
    }

    &__link {
        display: inline-flex;
        align-items: flex-end;
        gap: 8px;
        transition: 200ms ease-in-out;
        text-decoration: none;
    }

    &__link-icon {
        width: 1.75em;
        height: 2em;
    }
}
